// Colors
$white:#fff;
$yellow-500:#F28740;
$gray-200:#F5F6F8;
$gray-300:#C1C1C1;
$gray-350:#ADACBC;
$gray-400:#8C8C8C;
$gray-500:#707070;
$gray-600:#303437;
$gray-700:#0D0D0D;



$blue-500:#1B54CF;
$blue-550:#413F60;
$blue-600:#222649;
$blue-700:#000024;




