<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

    <title>Account info</title>
</head>

<body class="info-account-page">

    <header>
        <div class="container d-flex align-items-center">
            <a onClick="history.go(-1);">
                <img src="../img/arrow-left-icon.svg" alt="arrow left icon">
            </a>
            <h2 class="text-uppercase text-color-blue-700">información de cuenta</h2>
        </div>
    </header>
    <div class="info-acount-content container">
        <div class="header d-flex justify-content-between align-items-center">
            <div class="d-block">
                <h3>Paris Valverde</h3>
                <span>Inciado sesión con Google</span>
            </div>
            <img src="../img/user-image.png" alt="user image">
        </div>
        <div class="billing-container">
            <h4>Facturación</h4>
            <div class="billing-content">
                <div class="d-flex justify-content-between">
                    <span>Ultima Facturación</span>
                    <span>16 de Jul. 2021</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Proxima Facturación</span>
                    <span>14 de Sep. 2021</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="text-uppercase">Pago</span>
                    <span class="effected text-uppercase">Efectuado</span>
                </div>
                <div class="billing-footer">
                    <span><i class="fas fa-dollar-sign"></i>Efectivo</span>
                    <span>USD 290.00</span>
                </div>
            </div>
        </div>
        <div class="user-details">
            <div class="d-block">
                <span class="text-uppercase">Nombres</span>
                <p>Paris Angel Lucas</p>
            </div>
            <div class="d-block">
                <span class="text-uppercase">Apellidos</span>
                <p>Valverde Buenaventura</p>
            </div>
            <div class="d-block">
                <span class="text-uppercase">id de usuario</span>
                <p>#UP01012345</p>
            </div>
            <div class="d-block">
                <span class="text-uppercase">Correo</span>
                <p>paval@gmail.com</p>
            </div>
            <div class="d-block">
                <span class="text-uppercase">carnet de identidad</span>
                <p>E98765445</p>
            </div>
            <hr>
            <div class="address-container">
                <h4>Dirección</h4>
                <div class="address-content">
                    <div class="d-block">
                        <div class="group">
                            <span>Municipio</span>
                            <p>Loremp Ipsum <br>jipsum Dipsum</p>
                        </div>
                        <div class="group">
                            <span>Zona</span>
                            <p>Loremp Ipsum</p>
                        </div>
                        <div class="group">
                            <span>Número</span>
                            <p>167 - B</p>
                        </div>
                        <div class="group">
                            <span>Tipo de residencia</span>
                            <p>Departamento</p>
                        </div>
                    </div>
                    <div class="d-block">
                        <div class="group">
                            <span>Ciudad</span>
                            <p>Loremp Ipsum <br>jipsum Dipsum</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="account-option-container">
            <h4>Opciones de cuenta</h4>
            <div class="account-option-content menu-item-container">
                <ul>
                    <li>
                        <a class="menu-item d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <img src="../img/awesome-user-alt.svg">
                                <div class="item-text">
                                    <p>Cambiar contraseña</p>
                                </div>
                            </div>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                        <a class="menu-item d-flex justify-content-between align-items-center">
                            <div class="d-flex">                                
                                <i class="fas fa-dollar-sign text-color-blue-550" style="font-size: 18px;"></i>
                                <div class="item-text">
                                    <p>Método de pago</p>
                                </div>
                            </div>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                        <a class="menu-item d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <img src="../img/awesome-user-alt.svg" class="question icon">
                                <div class="item-text">
                                    <p>Modificar mi información</p>
                                </div>
                            </div>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- footer -->
    <footer class="footer-navigation">
        <nav>
            <a href="home.html">
                <div class="home-icon"></div>
                <span>Inicio</span>
            </a>
            <a href="cameras.html">
                <div class="camera-icon"></div>
                <span>Cámaras</span>
            </a>
            <a href="my-account.html" class="d-flex">
                <div class="user-icon active"></div>
                <span>Yo</span>
            </a>
        </nav>
    </footer>
    <!-- footer end -->

    <!-- scripts -->


    <script src="../js/app.js"></script>
</body>

</html>