<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/app.css">


    <title>Documentation single</title>
</head>

<body class="documentation-single-page">
    <header class="container d-flex align-items-center">
        <a onClick="history.go(-1);">
            <img src="../img/arrow-left-icon.svg" alt="arrow left icon">
        </a>
        <h2 class="text-uppercase text-color-blue-700">Documentación</h2>
    </header>
    <div class="documentation-single-container menu-item-container container">
        <h3>Términos y Condiciones</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda architecto explicabo aliquam aperiam nulla, magnam suscipit. Eligendi corporis provident eos eius minus! Harum porro optio repellat voluptates id necessitatibus nesciunt, asperiores, quaerat mollitia impedit cum.</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, consequatur odit, dolores tempore sint neque voluptate suscipit exercitationem atque rem voluptatem ratione pariatur omnis repudiandae reiciendis dicta iste totam libero molestiae, quod dolorem! Consectetur doloribus accusantium sit provident vel nam.</p>
        
    </div>
    <!-- footer -->
    <footer class="footer-navigation">
        <nav>
            <a href="home.html">
                <div class="home-icon"></div>
                <span>Inicio</span>
            </a>
            <a href="cameras.html">
                <div class="camera-icon"></div>
                <span>Cámaras</span>
            </a>
            <a href="my-account.html" class="d-flex">
                <div class="user-icon active"></div>
                <span>Yo</span>
            </a>
        </nav>
    </footer>
    <!-- footer end -->

    <!-- scripts -->


    <script src="../js/app.js"></script>
</body>

</html>