<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide-core.min.css">
    <link rel="stylesheet" href="../css/app.css">

    <title>Download recording two</title>
</head>

<body class="download-recording-2-page">
    <header>
        <div class="container">
            <div class="d-flex align-items-center">
                <a href="recordings-history.html">
                    <img src="../img/arrow-left-icon.svg" alt="arrow left icon">
                </a>
                <h2 class="text-uppercase text-color-blue-700">Descargar</h2>
            </div>
            <div class="d-block">
                <h3 class="text-color-blue-700 font-weight-bold">Lunes, 01 de Noviembre</h3>
                <p>Selecciona los bloques de tiempo para continuar <br>con la solicitud de descarga</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="checkbox-grid">
            <div onclick="return location.href='download-recording-1.html'" class="input-content">
                <input type="checkbox">
                <label for="">00:00 - 01:00 hrs</label>
            </div>
            <div onclick="return location.href='download-recording-1.html'" class="input-content">
                <input type="checkbox">
                <label for="">01:00 - 02:00 hrs</label>
            </div>
            <div onclick="return location.href='download-recording-1.html'" class="input-content">
                <input type="checkbox">
                <label for="">02:00 - 03:00 hrs</label>
            </div>
            <div onclick="return location.href='download-recording-1.html'" class="input-content">
                <input type="checkbox">
                <label for="">03:00 - 04:00 hrs</label>
            </div>
            <div onclick="return location.href='download-recording-1.html'" class="input-content">
                <input type="checkbox">
                <label for="">04:00 - 05:00 hrs</label>
            </div>
            <div onclick="return location.href='download-recording-1.html'" class="input-content">
                <input type="checkbox">
                <label for="">05:00 - 06:00 hrs</label>
            </div>
            <div onclick="return location.href='download-recording-1.html'" class="input-content">
                <input type="checkbox">
                <label for="">06:00 - 07:00 hrs</label>
            </div>
            <div onclick="return location.href='download-recording-1.html'" class="input-content">
                <input type="checkbox">
                <label for="">07:00 - 08:00 hrs</label>
            </div>
            <div onclick="return location.href='download-recording-1.html'" class="input-content">
                <input type="checkbox">
                <label for="">00:00 - 01:00 hrs</label>
            </div>
            <div onclick="return location.href='download-recording-1.html'" class="input-content">
                <input type="checkbox">
                <label for="">01:00 - 02:00 hrs</label>
            </div>
            <div onclick="return location.href='download-recording-1.html'" class="input-content">
                <input type="checkbox">
                <label for="">02:00 - 03:00 hrs</label>
            </div>
            <div class="input-content">
                <input type="checkbox">
                <label for="">03:00 - 04:00 hrs</label>
            </div>
            <div class="input-content">
                <input type="checkbox">
                <label for="">04:00 - 05:00 hrs</label>
            </div>
            <div class="input-content">
                <input type="checkbox">
                <label for="">05:00 - 06:00 hrs</label>
            </div>
            <div class="input-content">
                <input type="checkbox">
                <label for="">06:00 - 07:00 hrs</label>
            </div>
            <div class="input-content">
                <input type="checkbox">
                <label for="">07:00 - 08:00 hrs</label>
            </div>
            <div class="input-content">
                <input type="checkbox">
                <label for="">00:00 - 01:00 hrs</label>
            </div>
            <div class="input-content">
                <input type="checkbox">
                <label for="">01:00 - 02:00 hrs</label>
            </div>
            <div class="input-content">
                <input type="checkbox">
                <label for="">02:00 - 03:00 hrs</label>
            </div>
            <div class="input-content">
                <input type="checkbox">
                <label for="">03:00 - 04:00 hrs</label>
            </div>
            <div class="input-content">
                <input type="checkbox">
                <label for="">04:00 - 05:00 hrs</label>
            </div>
            <div class="input-content">
                <input type="checkbox">
                <label for="">05:00 - 06:00 hrs</label>
            </div>
            <div class="input-content">
                <input type="checkbox">
                <label for="">06:00 - 07:00 hrs</label>
            </div>
            <div class="input-content">
                <input type="checkbox">
                <label for="">07:00 - 08:00 hrs</label>
            </div>

        </div>
    </div>
    <!-- footer -->
    <footer class="footer-navigation">
        <nav>
            <a href="home.html">
                <div class="home-icon"></div>
                <span>Inicio</span>
            </a>
            <a href="cameras.html">
                <div class="camera-icon active"></div>
                <span>Cámaras</span>
            </a>
            <a href="my-account.html" class="d-flex">
                <div class="user-icon"></div>
                <span>Yo</span>
            </a>
        </nav>
    </footer>
    <!-- footer end -->
    <!-- scripts -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script> -->
    <script>
        // new Splide('#splide', {
        //     perPage:1,
        // }).mount();
    </script>
    <script src="../js/app.js"></script>
</body>

</html>