<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide-core.min.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

    <title>My account</title>
</head>

<body class="my-account-page">
    <div class="container">
        <!-- header -->
        <header>
            <h2 class="text-uppercase text-color-blue-700">Mi cuenta</h2>     
        </header>
        <!-- header -->

        <!-- profile -->
        <div class="profile">
            <img src="../img/user-image.png" class="profile-img" alt="user image">
            <p class="profile-name">¡Hola Paris!</p>
            <a class="btn btn-rounded btn-yellow-500 btn-center text-color-white font-weight-bold">Conectar vía Facebook</a>
            <nav class="profile-menu menu-item-container">
                <h4 class="text-uppercase text-color-blue-550">Personal</h4>
                <ul>
                    <li>
                        <a href="account-info.html" class="menu-item d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <img src="../img/awesome-user-alt.svg">
                                <div class="item-text">
                                    <p>Información de Cuenta</p>
                                </div>
                            </div>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                        <a href="secondary-users.html" class="menu-item d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <img src="../img/awesome-user-friends.svg">
                                <div class="item-text">
                                    <p>Usuarios Secundarios</p>
                                </div>
                            </div>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                        <a class="menu-item d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <img src="../img/awesome-question-circle.svg" class="question icon">
                                <div class="item-text">
                                    <p>Ayuda para Usuarios</p>
                                </div>
                            </div>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="profile-menu more-info menu-item-container">
                <h4 class="text-uppercase text-color-blue-550">Más Informacion</h4>
                <ul>
                    <li>
                        <a href="help.html" class="menu-item d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <img src="../img/elipse-11.svg">
                                <div class="item-text">
                                    <p>Acerca De</p>
                                </div>
                            </div>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- profile end -->
    </div>
     <!-- footer -->
     <footer class="footer-navigation">
        <nav>
            <a href="home.html">
                <div class="home-icon"></div>
                <span>Inicio</span>
            </a>
            <a href="cameras.html">
                <div class="camera-icon"></div>
                <span>Cámaras</span>
            </a>
            <a href="my-account.html" class="d-flex">
                <div class="user-icon active"></div>
                <span>Yo</span>
            </a>
        </nav>
    </footer>
    <!-- footer end -->
    <!-- scripts -->
    
    
    <script src="../js/app.js"></script>
</body>

</html>