.info-account-page {
    position: relative;
    padding-bottom: 90px;
    header {
        padding-top: 14px;
        margin-bottom: 40px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: $white;
        height: 50px;
        h2 {
            margin-left: 14px;
            font-size: 22px;
        }
        a {
            font-family: initial;
        }
    }

    .info-acount-content {
        margin-top: 78px;

        .header {
            h3 {
                font-size: 25px;
                color: #010028;
            }
            img {
                height: 63px;
            }
            span {
                font-size: 14px;
                color: #adacbc;
                font-family: "Open sans";
            }
        }
        .billing-container {
            margin-top: 22px;
            .billing-content {
                padding-top: 13px;
                border-radius: 8px;
                background-color: $white;
                border: 1px solid #adacbc;
                margin-bottom: 25px;
                .d-flex {
                    padding: 0 13px;
                    margin-bottom: 14px;
                    span {
                        font-size: 14px;
                        color: $blue-700;
                        font-weight: 600;
                        font-family: "Open sans";
                        &.effected {
                            color: $yellow-500;
                            font-weight: bold;
                            font-size: 18px;
                        }
                    }
                }
            }
            .billing-footer {
                padding: 0 13px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 13px;
                height: 53px;
                background-color: #f5f6f8;
                text-transform: uppercase;
                font-family: "Open sans";
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                span {
                    font-weight: bold;
                    font-size: 14px;
                }
                i {
                    margin-right: 9px;
                    font-size: 18px;
                }
            }
        }
        .user-details {
            font-family: "Open sans";
            .d-block {
                margin-bottom: 19px;
            }
            span {
                font-size: 14px;
                color: #adacbc;
                font-weight: 600;
                margin-bottom: 5px;
                display: block;
            }
            p {
                font-weight: 600;
                font-size: 18px;
                color: $blue-700;
            }
            hr {
                margin: 20px 0;
                border: none;
                height: 2px;
                background-color: #e2e6ef;
            }
            .address-container {
                .address-content {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    border: 1px solid #adacbc;
                    border-radius: 8px;
                    padding: 20px;
                    background-color: $gray-200;
                    .group{
                        margin-bottom: 20px;
                        span{
                            text-transform: uppercase;
                        }
                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .account-option-container{
            margin-top: 30px;
            .menu-item p{
                font-size: 18px;
            }
        }
    }
    h4 {
        font-family: "Open sans";
        color: $blue-550;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
}
