.download-recording-2-page{
    position: relative;
    padding-bottom: 80px;
    header{
        position: fixed;
        left: 0;
        width: 100%;
        top: 0;
        padding-top: 14px;
        background: $white;
        z-index: 1;
        h2{
            margin-left: 14px;
            font-size: 22px;
        }
        a{
            font-family:initial;
        }
    }
    .d-block {
        margin-top: 10px;
        h3{
            font-size: 20px;
            font-family: 'Open sans';
            margin-bottom: 10px;
        }
        p{
            color: #707070;
            font-size: 14px;
            font-family: 'Open sans';
        }
        margin-bottom: 16px;
    }
    .checkbox-grid{
        margin-top: 149px;
        label{
            font-family: 'Open sans';
            color: #413F60;
            font-size: 16px;
            font-weight: 600;
        }
    }
}