.home-page {
    .container {
        width: 93%;
    }
    p {
        font-size: 14px;
        font-family: "Open sans";
    }
    span{
        font-family: "Open sans";
    }
    header {
        margin-top: 18px;
        h2 {
            font-size: 22px;
        }
        .form-search {
            margin: 22px 0;
            position: relative;
            input {
                width: 100%;
                border-radius: 8px;
                border: 1px solid #c2c1c7;
                height: 50px;
                transition: 0.2s;
                outline: none;
                padding-left: 16px;
                font-size: 16px;
                font-family: "Poppins";
                &:hover,
                &:focus {
                    border-color: $gray-350;
                }
                &::placeholder {
                    color: #bdbdbf;
                }
            }
        }
        button {
            position: absolute;
            right: 26px;
            top: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            outline: none;
            border: 0;
        }
    }
    .favorites {
        // grid-template-columns: ;
        h3 {
            font-size: 20px;
            margin-bottom: 17px;
        }
        .favorites-content {
            overflow-y: hidden;
            // display: flex;
        }
        .favorite {
            width: 197px !important;
            margin-right: 13px;
            // height: 144px;
            border: 0.5px solid #bdbdbf;
            border-radius: 8px;
            padding-top: 18px;
            h4 {
                padding-left: 18px;
                padding-right: 18px;
            }
            p {
                padding-left: 18px;
                padding-right: 18px;
                font-family: "Open sans";
                font-weight: 600;
            }
            .favorite-footer {
                margin-top: 25px;
                padding-left: 18px;
                padding-right: 18px;
                p {
                    padding: 0;
                }
                .switch-container {
                    width: 100%;
                    p {
                        font-family: "Open sans";
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                // padding-left: 18px;
                // padding-right: 18px;
                background-color: #f5f6f8;
                height: 58px;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
    }
    // custom splide pagination
    .splide__pagination {
        justify-content: flex-end;
        margin-top: 24px;
    }
    .splide__pagination__page {
        width: 9px;
        height: 9px;
        background-color: #363062;
        margin: 5px;
        opacity: 25%;
        border-radius: 50%;
        &.is-active {
            width: 26px;
            background-color: $yellow-500;
            border-radius: 4px;
            opacity: 1;
        }
    }
    // cameras groups
    .cameras-groups {
        margin-top: 20px;
        h3 {
            font-size: 20px;
            margin-bottom: 17px;
        }
        .d-grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        .cameras-card {
            padding: 13px;
            background-color: $gray-200;
            box-shadow: -5px 1px 2px 0px $gray-350;
            border-radius: 8px;
            border: 0.5px solid transparent;
            transition: 0.2s;
            &:hover {
                border-color: $yellow-500;
                box-shadow: -5px 1px 2px 0px $yellow-500;
            }
            &:hover .icon-content {
                background-color: $yellow-500;
            }
            &:hover .video-icon {
                background: url("../img/video-icon-2.svg");
                background-position: left;
                width: 30px;
                height: 30px;
                // background-size: cover;
                background-repeat: no-repeat;
            }

            p {
                margin: 13px 0;
            }
            .icon-content {
                display: flex;
                align-items: center;
                justify-content: center;
                // margin-bottom: 12px;
                border-radius: 8px;
                background-color: $gray-350;
                width: 45px;
                height: 45px;
                transition: 0.2s;
            }
            span {
                // margin-left: 4px;
                font-size: 18px;
            }
            .video-icon {
                transition: 0.2s;
                background: url("../img/video-icon.svg");
                background-position: left;
                width: 30px;
                height: 30px;
                // background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
    position: relative;
    padding-bottom: 82px;
   
    .btn-create-group {
        height: 80px;
        i {
            font-size: 14px;
            margin-bottom: 6px;
        }
        margin-top: 22px;
    }
    // custom title modal
    .modal-container .modal .modal-title {
        margin-bottom: 6px;
    }

    // custom form
    .form-group {
        margin-top: 20px;
    }
    .form-control {
        height: 69px;
        padding-left: 16px;
        font-family: "Open sans";
        font-weight: 400;
        &::placeholder {
            color: #bdbdbf;
        }
    }
    .checkbox-list {
        margin-top: 20px;
    }
    .checkbox-text {
        margin-bottom: 1px;
        span {
            font-size: 14px;
        }
    }
    .camera-icons{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 3px;
        padding: 9px;
        border: 1px solid $gray-350;
        border-radius: 8px;
        input[type=radio] { 
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }
        label{
            all: unset;
        }
        .icon{
            width: 40px;
            height: 46px;
            cursor: pointer;
            background-repeat: no-repeat!important;
            background-position: center!important;
            border-radius: 7px;
        }
        input[type=radio]:checked+.icon-1{
            background: url('../img/ionic-white-md-school.svg') $yellow-500!important;
            background-repeat: no-repeat!important;
            background-position: center!important;
        }
        input[type=radio]:checked+.icon-2{
            background: url('../img/awesome-white-baby.svg') $yellow-500!important;
            background-repeat: no-repeat!important;
            background-position: center!important;
        }
        input[type=radio]:checked+.icon-3{
            background: url('../img/awesome-white-bath.svg') $yellow-500!important;
            background-repeat: no-repeat!important;
            background-position: center!important;
        }
        input[type=radio]:checked+.icon-4{
            background: url('../img/awesome-white-desktop.svg') $yellow-500!important;
            background-repeat: no-repeat!important;
            background-position: center!important;
        }
        input[type=radio]:checked+.icon-5{
            background: url('../img/ionic-ios-white-man.svg') $yellow-500!important;
            background-repeat: no-repeat!important;
            background-position: center!important;
        }
        input[type=radio]:checked+.icon-6{
            background: url('../img/ionic-white-ios-woman.svg') $yellow-500!important;
            background-repeat: no-repeat!important;
            background-position: center!important;
        }
    }
    .camera-icons-modal{
        padding: 0 8px;
    }
   
}
/*=============== MEDIA QUERIES ===============*/
@media screen and (max-width:355px){
    .home-page .cameras-groups .d-grid{
        gap: 14px;
    }
}
@media screen and (max-width:363px){
    .home-page .camera-icons .icon{
        width: 100%;
        height: 40px;
    }
}

