.login-page{
    background-color:$gray-200;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    header{
        margin-bottom: 70px;
        & a:nth-child(1){
            font-family: initial;
        }
    }
    .login-content{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .form-title{
        h1{
            font-size: 30px;    
        }
        margin-bottom: 40px;
    }
    .form-group{       
        &.password-content img{
            position: absolute;
        }
        .eye-icon{
            cursor: pointer;
            transition: .2s;
            right: 4%!important;
            left: initial;
        }
        
        .eye-on-icon{
            display: none;
        }
    }
    
    .forgot-password{
        font-size: 14px;
        b{
            margin-left: 12px;
        }        
    }
    .form-buttons{
        margin: 63px 0 100px;
        
        .btn{
            font-size: 18px;
            margin: 12px 0;
        }
    }
    // modal
    .modal-body p{
        font-size: 14px;
    }

}

/*=============== MEDIA QUERIES ===============*/
@media screen and (max-height:757px){
    .login-page header{
        margin-bottom: 40px;
    }
    .login-page footer{
        bottom: 3%;
    }
    .login-page .form-buttons{
        margin: 43px 0 50px;
    }
}
@media screen and (max-height:688px){
    .login-page header{
        margin-bottom: 25px;
    }
    .login-page .login-content{
        margin-top: 15px;
    }
    .login-page .form-title{
        margin-bottom: 20px;
    }
    .login-page .form-buttons{
        margin: 20px 0 40px;
    }
}
@media screen and (max-height:575px){
    .login-page footer{
        bottom: 3%;
        width: 112px;
        margin: auto;
    }
}
@media screen and (max-width:345px){
    .login-page .form-title h1{
        font-size: 25px;
    }
    .login-page .form-title p{
        font-size: 15px;
    }
}
